@model BingoCard.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    BingoCard.DataAccess.BingoCardDBContext db = new BingoCard.DataAccess.BingoCardDBContext();
    //List<BingoCard.Models.Player> players = db.Players.ToList();
    //List<BingoCard.Models.Player> playersNoRooms = new List<BingoCard.Models.Player>();
    List<BingoCard.Models.Room> rooms = db.Rooms.ToList();
    string playerRoomName = string.Empty;
    if (Model.RoomId== Guid.Empty)
    {
        playerRoomName = string.Empty;
    }
    else
    {
        playerRoomName = db.Rooms.Find(Model.RoomId).Name;
    }
}
<h1></h1>
<div class="row">
    <div class="col-md-12">
        @if (Model.RoomId == Guid.Empty)
        {
            <p><a class="btn btn-success btn-lg center-block" href="@Url.Action("PlayerCard", "Card", new { id = Model.Id })">Play Bingo!!</a></p>
            <p><a class="btn btn-danger btn-lg center-block" href="@Url.Action("Index", "Player", new { id = Model.Id })">Back to List</a></p>
        }
        else
        {
            <p><a class="btn btn-danger btn-lg center-block" href="@Url.Action("RoomSelection", "Card", new { id = Model.Id })">Select Room</a></p>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-6" align="center">
        @{var avatarURL = "https://api.adorable.io/avatars/150/" + Model.Name;}
        <img src=@avatarURL />

    </div>
    <div class="col-xs-6">
        <div class="card bg-info text-white">
            <div class="card-body">
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </div>
        </div>
        <h4>Lines: @Html.DisplayFor(model => model.LineCount)</h4>
        <h4>Bingos: @Html.DisplayFor(model => model.BingoCount)</h4>
        <h4>Room: <span class="badge">@playerRoomName</span></h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-6">
        <p><a class="btn btn-primary btn-lg center-block" href="@Url.Action("Edit", "Player", new { id = Model.Id })">Edit name</a></p>
    </div>
    <div class="col-xs-6">
        <p><a class="btn btn-primary btn-lg center-block" href="@Url.Action("RoomSelection", "Card", new { id = Model.Id })">Change room</a></p>
    </div>
</div>

