@model BingoCard.Models.Card

@{
    ViewBag.Title = "BingoCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Body Card *@
<script>
    var card = @Model
    function tututu(data) {
        //alert("Touched " + data)
        document.getElementById(data).classList.toggle('btnMarked')
    }
</script>
<style>
    .btnMarked {
        background-color: dimgrey;
        color:lightsteelblue
    }

    .btn-default:hover,
    .label-default[href]:hover,
    .tagcloud a:hover, button,
    .main-content [class*="navigation"] a:hover,
    .label-default[href]:focus,
    #infinite-handle span:hover,
    .btn.btn-default.read-more:hover,
    .btn-default:hover,
    .scroll-to-top:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active,
    .site-main [class*="navigation"] a:hover,
    .more-link:hover,
    #image-navigation .nav-previous a:hover,
    #image-navigation .nav-next a:hover,
    .cfa-button:hover,
    .woocommerce a.button:hover,
    .woocommerce button.button:hover,
    .woocommerce input.button:hover,
    .woocommerce #respond input#submit.alt:hover,
    .woocommerce a.button:hover,
    .woocommerce button.button:hover,
    .woocommerce input.button:hover,
    .woocommerce a.button.alt:hover,
    .woocommerce button.button.alt:hover,
    .woocommerce input.button.alt:hover,
    a:hover .flex-caption h2 {
	    background-color: rgba(0,0,0,0.5) !important;
	    border-color: rgba(0,0,0,0.5) !important;
    }

</style>
<h1></h1>
<div class="row">
    <div class="col-md-12">
        @for (int i = 0; i < 3; i++)
        {
        <div class="btn-group btn-group-justified">
            @for (int j = 0; j < 9; j++)
            {
                var square = (@Model.Lines[i, j].Number == 0) ? " " : @Model.Lines[i, j].Number.ToString();
                var color = (@Model.Lines[i, j].Number == 0) ? "btn-primary" : "btn-default";
                var card = Model;
            <a id="@Model.Lines[i, j].Number" class="btn @color btn-lg special" style="font-size: 300%; width: 100px; height: 100px;" onclick="tututu(@square)" >@square</a>
            }
            @*<a class="btn @color btn-lg" style="font-size : 300%; width: 100px; height: 100px;" href="@Url.Action("NumberToogle","Card", new { id = square })" role="button">@square</a>*@
        </div>
        }
    </div>
</div>